/* Variables */
:root{
    --sidebar-color: #F5F6F8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "sidebar main";
}

#sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-rows: auto 100px;
    
    background-color: var(--sidebar-color);
}

#views-container{
    display: flex;
    flex-direction: column;
}

#main-conent{
    grid-area: main;
}